{{ if eq .osid "linux-debian" -}}
#!/bin/bash

# ## 安装 Erdtree {
# VERSION=v3.1.2
# DOWNLOAD_URL=https://github.com/solidiquis/erdtree/releases/download/${VERSION}/erd-${VERSION}-x86_64-unknown-linux-musl.tar.gz
#
# curl -fsSL ${DOWNLOAD_URL:?} | tar zxv
# /usr/bin/install ./erd -m 0755 /usr/bin/erd
# rm -f ./erd ./LICENSE ./CHANGELOG.md ./README.md
# unset VERSION DOWNLOAD_URL
#
# ## end install erdtree}

{{ end -}}
