#!/usr/bin/env zsh

#MISE description="初始化 PNPM，包括配置环境变量、预装软件等"

mise exec pnpm -- pnpm setup --force

{{ if eq .chezmoi.os "darwin" }}
export PNPM_HOME="${HOME}/Library/pnpm"
{{ else if eq .chezmoi.os "linux" }}
export PNPM_HOME="${HOME}/.local/share/pnpm"
{{ end }}
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac

pnpm completion zsh > /usr/local/share/zsh/site-functions/_pnpm
pnpm install --global neovim markdown-toc stylelint prettier @fsouza/prettierd
