# vim: set filetype=toml:

[tools]
chezmoi = "latest"
usage = "latest"

{{- if eq .chezmoi.os "darwin" }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
bat = { version = "latest", postinstall = "bat --completion zsh | tee /usr/local/share/zsh/site-functions/_bat" }
eza = "latest"
fd = "latest"
fzf = "latest"
neovim = "latest"
rg = "latest"
starship = "latest"
zoxide = "latest"

# python = "latest"
# node = "lts"
# pnpm = { version = "latest", postinstall = "mise run pnpm:setup" }
# go = { version = "latest", postinstall = "mise run go:setup" }
# rust = { version = "latest", postinstall = "mise run rust:setup" }
# "cargo:erdtree" = { version = "latest", postinstall = "--completions zsh | tee /usr/local/share/zsh/site-functions/_erd" }
# "cargo:tree-sitter-cli" = "latest"
{{- end }}

[env]
