# vim: set filetype=toml:

[tools]
{{- if eq .chezmoi.os "darwin" }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
bat = { version = "latest", postinstall = "mise run bat:setup" }
eza = { version = "latest", postinstall = "mise run eza:setup" }
fd = { version = "latest", postinstall = "mise run fd:setup" }
fzf = "latest"
jq = "latest"
neovim = "latest"
rg = { version = "latest", postinstall = "mise run rg:setup" }
starship = "latest"
tmux = "latest"
yq = { version = "latest", postinstall = "mise run yq:setup" }
zoxide = "latest"
{{- end }}

[env]
