# vim: set filetype=toml:

[tools]
{{- if eq .chezmoi.os "darwin" }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
bat = { version = "latest", postinstall = "mise exec bat -- bat --completion zsh | tee /usr/local/share/zsh/site-functions/_bat" }
eza = "latest"
fd = "latest"
fzf = "latest"
jq = "latest"
neovim = "latest"
rg = "latest"
starship = "latest"
yq = "latest"
zoxide = "latest"
{{- end }}

[env]
